.head{
}

.red_button {
    background-color: #c8102e;
    width: 120px;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    transition: background-color 0.2s;
}

.red_button:hover {
    background-color: #ee0d33;
}

.topbar {
    height: 120px;;
    background-color: #012169;
}

.topbar_flex {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 40px;
}

.dropdown_flex {
    display: flex;
    flex-direction: column;
}

.no_margin {
    margin: 0px 0px 0px;
}

.website_name {
    margin-top: 10px; /*Diese Margin ist der Grund für die weiße Leiste über der Topbar*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
}
