:root {
    --primary-blue:#012169;
    --accent-red: #c8102e;
    --light-accent-red: #ee0d33;
    --standard-text-size: 20px;
    --standard-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red_button {
    background-color: var(--accent-red);
    width: 140px;
    border: none;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: #FFFFFF;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s;
}

.red_button:hover {
    background-color: var(--light-accent-red);
    font-size: 19px;
}

.topbar {
    height: 120px;
    background-color: #012169;
    padding-top: 10px;
}

.bottombar {
    height: 20px;
    text-align: center;
    background-color: #012169;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #9b9b9b;
}

.topbar_flex {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 40px;
}

.align_horizontal {
    display: flex;
    align-items: stretch;
}

.align_vertical {
    display: flex;
    flex-direction: column 1;
}

.align_right {
    display: flex;
    justify-content: flex-end;
}

.no_margin {
    margin: 0px 0px 0px;
}

.website_name {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}